/*font cho achitect**/

@font-face {
    font-family: Baloo;
    src: url('../fonts/Baloo_2/Baloo2-Bold.ttf');
}


/*font cho tổng hợp**/

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}


/*font cho mềm**/

@font-face {
    font-family: Baloo;
    src: url('../fonts/Rubik/static/Rubik-Regular.ttf');
}