@import url('../css/fonts.css');
:root {
    --Poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Poppins);
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    padding: 30px 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #000; */
    z-index: 1;
    transition: 0.5s ease;
}

nav.sticky {
    background: #fff;
    padding: 10px 20px;
    color: #000;
    z-index: 1111;
}

nav.sticky ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    z-index: 1000;
}

nav.sticky .banner a {
    font-size: 2.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

nav.sticky .cool-link::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #000;
    transition: width 0.4s;
    z-index: 11;
}

nav.sticky .cool-link:hover::after {
    width: 100%;
}

nav.sticky i.hidd {
    color: #000;
    transition: 0.5s;
}

nav .banner {
    margin: 10px 80px;
}

nav .banner a {
    font-size: 2.3rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

nav .banner a span {
    color: #ff3f34;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul.active {
    background: #6d6d6d;
    left: 0;
}

nav.sticky ul.active {
    left: 0%;
    z-index: 111;
}

nav ul li {
    position: relative;
    padding: 10px;
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    z-index: 1000;
}

.cool-link::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    position: relative;
    background: #fff;
    transition: width 0.4s;
    z-index: 11;
}

.cool-link:hover::after {
    width: 100%;
}

nav i.hidd {
    display: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 111;
}

nav i:hover {
    color: #ff3f34;
}

section.header {
    width: 100%;
    height: 100vh;
    float: left;
    background: url('../img/macbook.jpg') center no-repeat rgba(0, 0, 0, 0.3) fixed;
    background-size: cover;
}

section.header .left {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 200px 0px auto 80px;
    padding: 80px 20px;
}


/* section.header .left::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 90%;
    background: url('../img/lap3.jpg') center no-repeat;
    background-size: cover;
} */

section.header .left p {
    font-size: 1.6rem;
}

section.header .left h1 {
    font-size: 4rem;
}

section.header .left p#s2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

section.header .left span {
    color: #ff3f34;
}

section.header .left button {
    position: relative;
    width: 220px;
    padding: 15px 20px;
    border: none;
    background: #ff3f34;
    border-radius: 6px;
    overflow: hidden;
    transition: .4s ease-in;
    cursor: pointer;
}

section.header .left button span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    z-index: 110001;
    transition: .4s ease-in-out;
}

section.header .left button:hover {
    background: #fff;
}

section.header .left button:hover span {
    color: #000;
    letter-spacing: 1px;
}

section.header .left button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100px;
    width: 100px;
    height: 100%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: linear-gradient(to right, #abbaab, #ffffff);
    transform: skewX(30deg);
    transition: 0.5s ease-in-out;
}

section.header .left button:hover::before {
    left: 500px;
}

@media (max-width:1174px) {
    nav .banner {
        margin: 10px;
    }
    nav ul li {
        margin: 10px 15px;
    }
    nav ul li a {
        font-size: 19px;
    }
}

@media (max-width:985px) {
    nav ul,
    nav.sticky ul {
        position: absolute;
        top: 0%;
        left: 500%;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        transition: 0.2s ease-in-out;
    }
    nav i.hidd {
        display: inline;
    }
}

@media (max-width:723px) {
    section.header .left {
        margin: 200px 0px auto 10px;
        padding: 60px 20px;
    }
    section.header .left p {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    section.header .left h1 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    section.header .left p#s2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

@media (max-width:478px) {
    section.header .left p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    section.header .left h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    section.header .left p#s2 {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    section.header .left button {
        width: 140px;
        padding: 10px 15px;
    }
    section.header .left button span {
        font-size: 15px;
    }
}


/*style section---------------------*/

section.about {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.about .about-top {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

section.about .about-top h1 {
    font-size: 30px;
    font-weight: 700;
}

section.about .about-top p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about .about-top p::before {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 2px solid;
}

section.about .about-top p::after {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 2px solid;
}

section.about .about-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

section.about .about-container .imgBx {
    position: relative;
    width: 420px;
    height: 420px;
    margin: 0px 30px 0px 80px;
    overflow: hidden;
    transition: 0.5s;
}

section.about .about-container .imgBx .img-hover {
    width: 100%;
    height: 100%;
    background: url('../img/notme.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: zoom-in;
    transition: 0.5s;
    border: none;
    overflow: hidden;
}

section.about .about-container .imgBx .img-hover:hover {
    position: absolute;
    background-size: 110% 110%;
    background-position: center;
    border: none;
    border-radius: 20px;
}

section.about .about-container .contentBx {
    width: 50%;
    position: relative;
    justify-content: flex-start;
    margin-left: 40px;
}

section.about .about-container .contentBx p {
    font-size: 19px;
}

section.about .about-container .contentBx button {
    position: relative;
    padding: 10px 20px;
    background-color: #ff3f34;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
    outline: none;
    overflow: hidden;
    border: 2px solid #ff3f34;
}

section.about .about-container .contentBx button::before {
    content: '';
    position: absolute;
    left: -170px;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: linear-gradient(to right, #abbaab, #ffffff);
    transform: skewX(30deg);
    transition: 0.4s ease-in-out;
}

section.about .about-container .contentBx button:hover::before {
    left: 220px;
}

section.about .about-container .contentBx button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid #ff3f34;
}

@media(max-width:946px) {
    section.about .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section.about .about-container .imgBx {
        text-align: center;
        margin: 0px 0px 60px 0px;
    }
    section.about .about-container .contentBx {
        width: 100%;
        margin-left: 0px;
    }
}

@media(max-width:460px) {
    section.about .about-container .imgBx {
        width: 340px;
        height: 355px;
    }
}


/*style skill-------------**/

section.skill {
    width: 100%;
    padding: 60px 20px 100px 20px;
    background: #181717;
}

section.skill .skill-header {
    display: block;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

section.skill .skill-header h1 {
    color: #f1f1f1;
    font-size: 30px;
    font-weight: 700;
}

section.skill .skill-header p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
}

section.skill .skill-header p::before {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 2px solid crimson;
}

section.skill .skill-header p::after {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 2px solid crimson;
}

section.skill .content-skill {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

section.skill .content-skill .box-skill {
    position: relative;
    width: auto;
    height: 280px;
    padding: 20px 10px;
}

section.skill .content-skill .box-skill .box1 {
    width: 100%;
    height: 280px;
    background: rgb(65, 63, 63);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

section.skill .content-skill .box-skill .icon-skill {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: crimson;
    font-weight: 900;
}

section.skill .content-skill .box-skill .text-skill {
    width: 100%;
    padding: 10px;
    text-align: center;
}

section.skill .content-skill .box-skill .text-skill h1 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
}

section.skill .content-skill .box-skill .text-skill p {
    font-weight: 700;
}

section.skill .content-skill .box-skill .box2 {
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    width: 99%;
    height: 100%;
    background: rgb(65, 63, 63);
    border-radius: 10px;
    transform: rotateY(180deg);
    transition: 0.5s ease-in-out;
    backface-visibility: hidden;
}

section.skill .content-skill .box-skill .box2 button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border: none;
    background: #ff3f34;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease-in-out;
}

section.skill .content-skill .box-skill .box1 {
    transition: 0.5s ease-in-out;
}

section.skill .content-skill .box-skill:hover .box1 {
    transform: rotateY(180deg);
}

section.skill .content-skill .box-skill:hover .box2 {
    transform: rotateY(360deg);
}

section.skill .content-skill .box-skill .box2 button:hover {
    box-shadow: 2px 5px 10px 2px #000;
}


/*style skill*/

.myskill {
    width: 100%;
    position: relative;
    padding: 60px 20px 60px 20px;
}

.myskill .h-myskill {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.myskill .h-myskill h1 {
    font-weight: 800;
}

.myskill .h-myskill p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.myskill .h-myskill p::before {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 1px solid;
}

.myskill .h-myskill p::after {
    content: '';
    position: relative;
    width: 40px;
    height: 1px;
    border: 1px solid;
}

.myskill .center-skill {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.myskill .center-skill .content-skill {
    position: relative;
    padding: 20px 0px 20px 80px;
}

.myskill .center-skill .content-skill h3 {
    font-size: 24px;
    font-weight: 700;
}

.myskill .center-skill .content-skill .p-content {
    position: relative;
    min-height: 10vh;
    overflow: hidden;
}

.myskill .center-skill .content-skill p {
    position: absolute;
    font-size: 17px;
    margin-top: 10px;
    line-height: 30px;
}

.myskill .center-skill .content-skill button {
    position: relative;
    padding: 10px 20px;
    background: #ff3f34;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border: 2px solid #ff3f34;
}

.myskill .center-skill .content-skill button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 20px;
    height: 100%;
    transform: skewX(30deg);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

.myskill .center-skill .content-skill button:hover {
    box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 1.5px;
    border: 2px solid #ff3f34;
    background: #fff;
    box-shadow: 2px 5px 9px 2px rgba(0, 0, 0, 0.3);
    color: #000;
}

.myskill .center-skill .content-skill button:hover::before {
    left: 200px;
}

.myskill .center-skill .percent-skill {
    position: relative;
    padding: 20px 0px 20px 20px;
    letter-spacing: 1.5px;
}

.myskill .center-skill .percent-skill .all-skill {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.myskill .center-skill .percent-skill .all-skill .main-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.myskill .center-skill .percent-skill .all-skill h4 {
    font-weight: 700;
    position: relative;
}

.myskill .center-skill .percent-skill .all-skill span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4px;
    background: #000;
}

.myskill .center-skill .percent-skill .all-skill:nth-child(1) span::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 90%;
    height: 6px;
    background: #ff3f34;
}

.myskill .center-skill .percent-skill .all-skill:nth-child(2) span::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 60%;
    height: 6px;
    background: #00a8ff;
}

.myskill .center-skill .percent-skill .all-skill:nth-child(3) span::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 50%;
    height: 6px;
    background: rgb(247, 247, 32);
}

.myskill .center-skill .percent-skill .all-skill:nth-child(4) span::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 80%;
    height: 6px;
    background: purple;
}

.myskill .center-skill .percent-skill .all-skill:nth-child(5) span::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 50%;
    height: 6px;
    background: #1e90ff;
}

@media (max-width:804px) {
    .myskill .center-skill {
        padding: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .myskill .center-skill .content-skill {
        position: relative;
        padding: 20px 0px 20px 20px;
    }
}


/*style team section*/

section.team {
    width: 100%;
    position: relative;
    background: rgb(56, 54, 54);
    padding: 0px 20px 100px 20px;
}

section.team .title-team {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 30px;
}

section.team .title-team h1 {
    font-size: 30px;
    font-weight: 700;
}

section.team .title-team p {
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    align-items: center;
}

section.team .title-team p::before {
    content: '';
    position: relative;
    height: 2px;
    width: 40px;
    border: 2px solid #ff3f34;
}

section.team .title-team p::after {
    content: '';
    position: relative;
    height: 2px;
    width: 40px;
    border: 2px solid #ff3f34;
}

section.team .team-content {
    width: 100%;
    padding: 10px;
}

section.team .team-content .box {
    width: 99%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px 15px 20px 15px;
    background-color: #fff;
    border-radius: 6px;
}

section.team .team-content .box img {
    width: 150px;
    height: 150px;
    border: 4px solid #ff3f34;
    border-radius: 50%;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #ff3f34 !important;
    margin: 0 5px;
    transition: 0.5s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson !important;
}


/*--------------------contact style*/

.contact {
    width: 100%;
    padding: 20px 20px 100px 20px;
    background: #fff;
}

.contact .main-contact {
    width: 100%;
    margin: 5px;
    position: relative;
}

.contact .main-contact .headr-contact {
    width: 100%;
    padding: 60px 20px 20px 20px;
    text-align: center;
}

.contact .main-contact .headr-contact h1 {
    font-size: 30px;
    font-weight: 700;
}

.contact .main-contact .headr-contact p {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .main-contact .headr-contact p::before {
    content: '';
    position: relative;
    width: 40px;
    height: 2px;
    border: 1px solid #000;
    background: #000;
}

.contact .main-contact .headr-contact p::after {
    content: '';
    position: relative;
    width: 40px;
    height: 2px;
    border: 1px solid #000;
    background: #000;
}

.contact .main-contact .main2-contact {
    width: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .main-contact .main2-contact .main2-1 {
    display: block;
    position: relative;
    padding: 10px 10px 20px 80px;
}

.contact .main-contact .main2-contact .main2-1 .on-main {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.contact .main-contact .main2-contact .main2-1 .on-main h3 {
    margin-bottom: 10px;
    font-weight: 700;
}

.contact .main-contact .main2-contact .main2-1 .on-main p {
    text-align: left;
    line-height: 25px;
    margin-bottom: 20px;
}

.contact .main-contact .main2-contact .main2-1 .up-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.contact .main-contact .main2-contact .main2-1 .up-main .all {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.contact .main-contact .main2-contact .main2-1 .up-main .all i {
    font-size: 30px;
    margin-right: 20px;
    color: #ff3f34;
}

.contact .main-contact .main2-contact .main2-1 .up-main .all .info-c {
    display: block;
}

.contact .main-contact .main2-contact .main2-1 .up-main .all .info-c h3 {
    font-weight: 700;
}

.contact .main-contact .main2-contact .main2-1 .up-main .all .info-c p {
    line-height: 25px;
}

.contact .main-contact .main2-contact .main2-2 {
    position: relative;
    padding: 10px 100px 10px 10px;
    margin-left: 20px;
}

.main2-2 h3 {
    font-weight: 600;
}

.main2-2 form {
    width: 100%;
    margin-top: 20px;
}

.main2-2 form .grid {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
}

.main2-2 form .grid .box {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 20px 0px 20px;
}

.main2-2 form .grid .input {
    position: relative;
    width: 100%;
    height: 40px;
}

.main2-2 form .grid .input input,
.main2-2 form .textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
    font-size: 17px;
    z-index: 1;
}

.main2-2 form .grid .input span.text,
.main2-2 form .textarea .input span.text {
    position: absolute;
    top: 6px;
    left: 13px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

.main2-2 form .grid .input input:focus~.text,
.main2-2 form .grid .input input:valid~.text,
.main2-2 form .textarea .input textarea:focus~.text,
.main2-2 form .textarea .input textarea:valid~.text {
    top: -25px;
    left: 0;
}

.main2-2 form .textarea {
    position: relative;
    width: 100%;
    padding: 0px 10px;
    margin: 20px 0px 20px;
}

.main2-2 form .textarea .input {
    position: relative;
    width: 100%;
    height: 100px;
}

.main2-2 form .textarea textarea {
    resize: none;
    height: 100%;
}

.main2-2 form div>.line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff3f34;
    border-radius: 5px;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.main2-2 form div>input:focus~.line,
.main2-2 form div>input:valid~.line,
.main2-2 form div>textarea:focus~.line,
.main2-2 form div>textarea:valid~.line {
    height: 100%;
}

.main2-2 form .box input[type="submit"] {
    position: relative;
    padding: 10px 20px;
    margin: 10px 0px 30px 10px;
    background: #ff3f34;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 2;
}


/* .main2-2 form .box input[type="submit"]::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100px;
    width: 20px;
    height: 100%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: linear-gradient(to right, #abbaab, #ffffff);
    transform: skewX(30deg);
    transition: 0.5s ease-in-out;
    z-index: 211;
} */

.main2-2 form .box input[type="submit"]:hover {
    box-shadow: 2px 5px 10px 2px #000;
}

@media (max-width:940px) {
    .contact .main-contact .main2-contact {
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact .main-contact .main2-contact .main2-1 {
        display: block;
        position: relative;
        padding: 10px;
    }
    .contact .main-contact .main2-contact .main2-2 {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0px !important;
    }
}

footer {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    background: #000;
}

.content-foo h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.content-foo span {
    color: #ff3f34;
}

.up-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 2px solid #ff3f34;
    bottom: 1000px;
    right: 20px;
    background-color: #ff3f34;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

.up-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.up-btn.active {
    bottom: 20px;
}

.up-btn:hover,
.up-btn.active:hover {
    box-shadow: 2px 5px 10px 2px #000;
}